<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="stuff, to, help, search, engines, not" name="keywords">
        <meta content="What this page is about." name="description">
        <meta content="Display Webcam Stream" name="title">
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <title>Display Webcam Stream</title>
   </head>
        <body>
            <div class="page-header">
                <h1>Live Streaming Show <small>Edge detect</small></h1>
            </div>
            
            </div>
            <div id="container">
                <form  method = "POST">
                    {% csrf_token %}
                        <br>
                        <style>
                            img { display: block; margin: 0px auto; }
                        </style>
                        
                            
                                <img src = "{% url 'video_feed' %}" width="640" height="480"></img>
                        
                </form>
                <div class ="row">
                    <div class ="col-md-6">
                        <a href = "second/" >Second Video</a>               
                    </div>
                </div>
            </div>
        </body>
</html>
